
@import "tailwindcss";



:root{
  --bg-teste:#F9F4E7;
   --bg-header: #DDB892;   /* creme claro para header */
  --bg-button:#8B5E3C;   /* caramelo suave para botão */
  --bg-footer: #6F4E37;   /* chocolate claro para footer */
  --bg-login: #E1C699;
  --font-family:'Poppins', sans-serif;
}
  

@layer utilities {
  .bg-beige {
    background-color: var(--bg-teste);
  }

  .bg-header {
    background-color: var(--bg-header);
  }

  .bg-button {
    background-color: var(--bg-button);
  }

  .bg-footer {
    background-color: var(--bg-footer);
  }
  .bg-login {
    background-color: var(--bg-login);
  }

  
}
body{
  font-family: var(--font-family);
}


