
@import "tailwindcss";



:root{
  --bg-teste:#F9F4E7;
   --bg-header: #DDB892;   /* creme claro para header */
  --bg-button: #B08968;   /* caramelo suave para botão */
  --bg-footer: #6F4E37;   /* chocolate claro para footer */
}
  

@layer utilities {
  .bg-beige {
    background-color: var(--bg-teste);
  }

  .bg-header {
    background-color: var(--bg-header);
  }

  .bg-button {
    background-color: var(--bg-button);
  }

  .bg-footer {
    background-color: var(--bg-footer);
  }
}

